body {
  background: #e6ecf3;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone-container {
  width: 300px;
  background: rgb(197, 228, 237);
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}
.screen {
  display: none;
  text-align: center;
}
.screen.active {
  display: block;
}
.app-header {
  background-color: #3884ef; 
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
  
}
.app-image {
  width: 100%;
  height: auto;
  border-radius: 0 0 20px 20px;
}
h2 {
  color: #5a67f2;
     font-family: 'Poppins', sans-serif;
}
p {
  font-size: 14px;
  color: #666;
}
input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.primary {
  width: 100%;
  background-color: #3884ef;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.social-icons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #eef1ff;
  font-weight: bold;
  cursor: pointer;
}

.or {
  font-size: 12px;
  margin: 10px 0;
}

.link span {
  color: #5a67f2;
  cursor: pointer;
}

.checkbox {
  display: block;
  font-size: 12px;
  position :relative;
  z-index: 1;
}

.forgot {
  text-align: right;
  font-size: 12px;
  color: #5a67f2;
}
